/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
}

.food_table {
  border-collapse: collapse;
  width: 70%;
  clear: right;
  margin-left: auto;
  margin-right: auto;
}

.food_table td,
.food_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.food_table tr:nth-child(even) { background-color: #f2f2f2; }
.food_table tr:hover { background-color: #ddd; }

.food_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3b3b3b;
  color: white;
}

.add_food_button {
  float: right;
  margin: 2rem;
}

.add_food_button button {
  border: 1px solid black;
  background-color: white;
}

.add_food_button button a {
  padding: 1rem;
  font-size: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

/* Food form */
.food_form_container {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  margin-top: 2rem;
}

.food_form_container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.food_field {
  width: 100%;
}

.food_field input {
  padding: 5px;
  width: 100%;
  border: 1px solid black;
}

.food_form_submit_button {
  border: 1px solid black;
  padding: 5px;
}

.public_recipes_container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 80%;
}

.public_recipe_container {
  display: flex;
  justify-content: space-between;
}

.public_recipe_details_container {
  width: 50%;
}
