* {
  padding: 0;
  margin: 0;
  font-family: sans-serif, poppins;
  box-sizing: border-box;
}

.recipe-box {
  display: flex;
  align-items: baseline;
  gap: 2rem;
  border: 1px solid black;
  width: auto;
  margin: 2rem;
  padding: 2rem;
}

.recipe-details {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  align-items: baseline;
}

.left-block {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}


.recipe-status {
  display: flex;
   gap: 2rem;
   justify-content: space-between;
   width: 90%;
}

.recipe-name {
  align-self: center;
}
