* {
  padding: 0;
  margin: 0;
  font-family: sans-serif, poppins;
}

.recipe-box {
  display: flex;
  align-items: baseline;
  gap: 2rem;
  border: 1px solid black;
  width: auto;
  margin: 2rem;
  padding: 2rem;
}

.left-block {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
